


{{#each this}}
<div class="country-card">
 
   <img class="card-flag" src="{{flags.png}}" alt="{{name.common}}" width="120" height="100">
    <h2 class="card-title">{{name.official}}</h2>
    
  
   <div class="card-body">
        <p><b>Capital:</b> {{capital}} </p>
        <p><b>Population:</b> {{population}} </p>
        <p>Languages:{{Languages}}
        {{#each languages}}{{#if @index}},{{/if}} {{this}}{{/each}}
        {{#each languages}}{{#if @index}}{{this}}{{else}}{{this}},{{/if}}{{/each}}
        </p>
    </div>
</div>
{{/each}}
  